## Principais Comandos de atalho no jupyter 

Dentro do Módulo de comando: Quando o cursor não esta ativo nas células 
( a lateral fica com cor azul e esse módulo é acessado usando ao tecla esc quando o cursor está ativo)

* dd - deletar a célula
* a - cria célula acima
* b - cria célula abaixo
* m - altera para módulo de texto
* y - altera para módulo de código


Fora do Módulo de comando (cursor ativo na célula e cor verde na lateral)
* shift + enter - executa a célula atual e seleciona a de baixo (se não tiver nenhuam abaixo é criada uma nova)
* alt + enter - executa a célula atual e adiciona uma célula abaixo
* tab - indica possível variáveis no qual eu criei para preencher altomaticamente
* tab após ponto o nome de uma variável mais um ponto(.) vai lista métodos associados a aquele elemento
* shift+tab indica os argumento de uma função (MUITO IMPORTANTE)

Um pouco sobre a linguaguem Markdown

Básico e direto:
https://docs.pipz.com/central-de-ajuda/learning-center/guia-basico-de-markdown#open 

Intermediário com comandos em latex:
https://ichi.pro/pt/aprenda-a-escrever-markdown-e-latex-no-notebook-jupyter-18246612521469

# **Meu Primeiro Comando** + Operações matemáticas básicas

In [26]:
x="olá mundo"  # tudo do lado direito da hastag é comentário
print(x) 
x. # use tab aqui e encontre uma função para tornar as letras maísculas
x. # agora que retorne as palavras separadas

olá mundo

['olá', 'mundo']

In [31]:

x1=7 # atribuindo valores sinal de igual
x2=3
print(x1+x2) 
print(x1-x2) # subtração
print(x1*x2) # multiplicação
print(x1/x2) # divisão
print(x1//x2) # quoeficiente da divisão
print(x1%x2) # resto da divisão
print(abs(-x1)) # módulo de um número
round(x2/x1,2) # arredondando para duas casas decimais

10
4
21
2.3333333333333335
2
1
7

0.43

### Usando comandos latex para fórmulas
Calculando $X^2$ e $\sqrt[3]{4^2}=4^{2/3}$

In [27]:
print(x2**3) # x2 elevado a 3
4**(2/3)  # raiz de quadrada de 4 elevado ao 3
# arredondar para três casas decimais

27

2.5198420997897464

#ME DELETEEEEEEEEEEEEEEEEE

## Outras funções matemáticas com math

In [29]:
import math
## pradrão básico usa-se a palavra math mais sua função
n = 15 
math.cos(n)  # cosseno
math.sin(n)  # seno
math.exp(n)  # exponencial
math.log(n)  # logaritmo natural
math.sqrt(n) # raiz quadrada
math.factorial(n) # fatorial  
math.trunc(n/2) # Inteiro da fração (neste 15/2=7.5, retorna 7)

7

### Atualizando valores por operadores de atribuição

In [ ]:
a=4
a+=2 # forma reduzida da soma a=a+2 
print(a)
a-= 2 # forma reduzida de a=a-2
print(a)
a/=2  # forma reduzida de a=a/2
print(a)
a*=4  # forma reduzida de a=a*2
print(a)
a**=2  # forma reduzida de a= a elevado a 2
print(a)
a%=4  # forma reduzida de a=resto da divisão de a por 4
print(a)

### Tipos de dados mais comuns

In [ ]:
A=2 # Inteiro (int)
print(type(A)) # type retorna o tipo
B=2.2 # ponto flutuante (float) associado a números fracionados
print(type(B))
C="olá" # String (str) associado a texto
print(type(C))
D=[2,3.3,"4"] # lista
print(type(D))  
E = 1j # Números Complexos
print(type(E))
# Booleanos (Verdadeiro ou falso)
F=False
G=True
print(type(F),type(G))
H=[2,5,7,9] # outra lista que no R seria um vetor
print(type(H)) 
I = {'nome': 'João Filho', 'idade': 23, 'cursos': ['R', 'python']} # Dicionário
print(type(I))
print(I['nome']) # acessando nome em I
I['cursos'] # acessando a lista cursos
tup=(2,4,3) # tupla
type(tup)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'complex'>
<class 'bool'> <class 'bool'>
<class 'list'>
<class 'dict'>
João Filho

tuple

### Operadores lógicos

In [ ]:
# São essenciais para se criar funções e manipular dados
A=3
B=2
C=2
A==B # Verificando se A é igual a B
A!=B # Verificando se A é diferente B
A>B # verificando se A é maior que B
A>=B # verificando se A é maior ou igual a B
A<B # verificando se A é menor que B
A<=B # verificando se A é menor ou igual a B
## Para múltiplas verificações usando operadores or e and 
# usando operador or...  se somente uma sentença for verdade tudo será verdadeiro
A==B or B==C or A==C
# usando operador and.. se somente uma sentença for falso tudo será falso
A==B and B==C and A!=C

not 0 # operando onde for 0 é verdadeiro qualquer outro valor é falso
not 3

False

### Operador lógicos membro e unidade

In [30]:
l1=['A','B',1,-5,9]
'A' in l1 # 'A' é membro de l1?
'A' not in l1 # 'A' não é membro de l1?

x=2;y=x;z=2

x is y # x é igual a y?
x is z
x is not y # obs (invertemos is e not ) naturalidade da lingua inglesa
### usando "is" em lista. Neste caso ter o mesmo conteúdo não significa que são iguais
x1=[1,2,3]; x2=x1; x3=[1,2,3]
x1 is x2
x1 is x3 # note que é falso devido a diferentes locação da memória

3.3

### Conversão de tipos

In [ ]:
a=2 
b='3'
print(a+int(b))
print(str(a)+b)
print(a+float('2.2'))

5
23
4.2

### Manipulando Strings

In [ ]:
nome= 'Pedro Antônio'
nome[0]
# nome[0]=2 # Obs não se muda string
# uso de aspas simples ou duplas alternar para usar no texto
A="Maria D'aguia"
B='Ela disse: "oi"'
# Multiplas linhas tres aspas simples ou duplas no começo e no fim
oi="""  bom dia 
... meu amigo """
print(oi)
# alternativamente
print("bom dia \n ... meu amigo") 

### Acesando elementos de uma string
nome= 'André Luiz'
nome[2] # terceiro elemento da esquerda para direita começando do zero
nome[-2] # terceira da esquerda para direita começando de -1
nome[6:] # do 6 em diante (neste caso segundo nome)
nome[:5] # abaixo do quinto (sem o incluir)
# intervalos com ::
numero='0123456789'
numero[::2] # de dois em dois iniciando em zero
numero[1::2] # de dois em dois iniciando em 1
numero[::-1] # de dois em dois iniciando em 1
nome[::-1]
### Outros comandos
frase = 'O Python é uma linguaguem top'
len(frase) # numero de caracteres
'ing' in frase # ing é encontrado em frase?
frase.lower() 
frase.upper()
frase.split() # quebrar em palavras pelo espaço mas pode-se quebrar por letra ou caractere

  bom dia
... meu amigo
bom dia
 ... meu amigo

['O', 'Python', 'é', 'uma', 'linguaguem', 'top']

### Manipulando listas

In [ ]:
dir(list) # mostrando funções associadas 
A=['1','2','3']
len(A) # Tamanho da lista
A.append('5') # adicionando o caractere 5
A.append(9) # adicionanco o numero 9
print(A)
A.remove(9)
print(A)
A.append('1') # adicionando outro '1'
A.remove('1') # remove o primeiro
print(A)
A.reverse() # reverte ordem de A
print(A)
A.index('5') # indice do elemento 5
'2' in A # 2 está em A?
A[2:] # indice semlhante a string de 2 a diante
A[2:-1] # da posiçao dois em diante (ultimo é -1)
del A[2] # removendo um elemento do indice 2
print(A)

['1', '2', '3', '5', 9]
['1', '2', '3', '5']
['2', '3', '5', '1']
['1', '5', '3', '2']
['1', '5', '2']

### Entrando com dados com input

In [32]:
from math import pi # importanto a função pi do pacote math
raio= input('Informe o raio:  ' ) # raio será uma string
print ('Área do círculo',pi*float(raio)**2)

Informe o raio:  10
Área do círculo 314.1592653589793